<table border="1" align="center" width="75%" class="table table-striped">
    <tr>
        <th>firstname</th>
        <th>lastname</th>
        <th>gender</th>
        <th>dob</th>
        <th>email</th>
        <th colspan="2">operations</th>
    </tr>
    <tr *ngFor="let asd of data; let i=index">
        <td>{{asd['f_name']}}</td>
        <td>{{asd['l_name']}}</td>
        <td>{{asd['gender']}}</td>
        <td>{{asd['dob']}}</td>
        <td>{{asd['email']}}</td>
        <td><button (click)="delete(asd.id)" class="btn btn-danger">delete</button></td>
        <td><button (click)="updatedata(asd.id)" class="btn btn-success">update</button></td>
    </tr>
</table>
<hr>
<div class="signup-form">
    <ng-container *ngIf="show">
        <form >
            <div class="form-group">
                <input type="text" class="form-control" name="f_name" [(ngModel)]="upd.f_name"><br>
                <input type="text" class="form-control" name="l_name" [(ngModel)]="upd.l_name"><br>
                male<input type="radio" name="gender" value="male" [(ngModel)]="upd.gender">
                female<input type="radio" name="gender" value="female" [(ngModel)]="upd.gender"><br>
                <input name="dob" class="form-control" [(ngModel)]="upd.dob"><br>
                <input type="email" class="form-control" name="email"  placeholder="Email"  [(ngModel)]="upd.email"><br>
                <button type="submit" class="btn btn-success" (click)="updt()">update</button><br><br>
            </div>
        </form>
    </ng-container>
</div>
